* {
    border: 1px solid blue;
}

body {
    background: image(../img/checkerboard-clipart-10.png)
}

img {
    height: 50%;
    width: 50%;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

ul li {
    float: right;
}

.contact-info {
    display: inline;
    padding-right: 10px;
    position: fixed;
    top: 0px;
    right: 0;
}

.nav-bar {
    top: 100px;
}

.nav-button {
    top: 50%;
}