/*common elements  */

body {
    font-size: 67.5%;
    font-family: Tahoma, Geneva, sans-serif;
    background: #39150c url(img/paper_1332008.jpg) no-repeat fixed top center;
    padding: 0;
    margin: 0;
    -webkit-background-size: 100% 100%;
    -moz-background-size: 100% 100%;
    background-size: 100% 100%;
    -o-background-size: 100% 100%;
}


/*Header  */


/*Nav Bars  */


/*Sidebar section  */


/*Main Section  */


/*Footer  */